<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WNRNCBVSKY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-WNRNCBVSKY');
    </script>

    <script>
        function trackSearch(query) {
            gtag('event', 'search', {
                'searchQuery': query
            });
        }
        
        // JavaScript code to track a product click
        function trackProductClick(productId) {
            gtag('event', 'productClick', {
                'productId': productIndex
            });
        }
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Husn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url('/static/husn-grainy-background.svg') !important;
            background-size: cover;
            /* background-repeat: no-repeat; */
            background-attachment: fixed;
        }
        .navbar {
            /* background-color: #E0CECB; */
        }
        .navbar-brand {
            font-weight: bold;
            font-size: 24px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/" style="font-family: 'Times New Roman', Times, serif; color:black; font-size:xx-large;">Husn</a>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>