<style>
    .product-name {
        height: 1.9em;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>

<div class="card h-100" style="border: 0 !important; background-color:transparent;">
    <!-- Product Image  -->
    <a href="/product/{{ product['index'] }}" onclick="trackProductClick('{{ product['index'] }}'); return true;"><img
            style="border-radius:15px;" class="card-img-top" src="{{ product['searchImage'] }}"
            alt="{{ product['title'] }}"></a>

    <div class="card-body px-1 pt-1" style="background-color:transparent !important;">
        <!-- Product Brand and name -->
        {% set product_name = product['product'].replace(product['brand'], '').replace('Men', '').replace('Women', '')
        %}
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <!-- Product Rating -->
                <div class="d-flex flex-row pr-1 my-1" style="font-size: 12px;">
                    {% if product['ratingCount'] > 0 and is_main_product %}
                    <span class="mr-2">
                        {{ '%.1f'|format(product['rating']) }} <span style="color:burlywood;">&#9733;</span>  
                    </span>

                    <!-- remove
                        product['ratingCount'] }} -->
                    {% endif %}

                    {% if is_main_product %}
                    <span>Rs. {{
                        product['price'] | int}}
                    </span>
                    {% endif %}
                </div>

                <h6 class="text-md mb-0" style="color: #6C6463;">{{ product['brand'] }}</h6>
                <div class="product-name">
                    <h5 class="mb-0" style="font-size: 12px; color: #6C6463;">{{ product_name }}</h5>
                </div>
            </div>

            {% if is_main_product %}
            <div class="d-flex align-items-center mx-1">

                <!-- Product Original Url -->
                <a class="px-1" style="margin-top:-10px" href="https://myntra.com/{{ product['landingPageUrl'] }}">
                    <img src="/static/myntra-logo.svg" alt="View Product on Myntra" style="width: 40px; height: 40px;">
                </a>

            </div>
            {% endif %}
        </div>
    </div>
</div>