<style>
    input:focus {
        outline-color: #C4BEB5 !important;
        box-shadow:  0 0 0 0.2rem #C4BEB5 !important;  /* This is for Bootstrap's glow effect */ 
        border-color: #C4BEB5 !important;
    }  

</style>
<div class="col-12">
    <script>
        function submitForm(event) {
            event.preventDefault();
            let query = document.getElementById('query').value;
            if (query.trim() === '') {
                return;
            }
            trackSearch(query)
            window.location.href = '/query/' + query;
        }
    </script>
    <form onsubmit="submitForm(event);">
        <div class="form-group">
            <input type="text" id="query" class="form-control" name="query" value="{{ query | default('') }}"
                placeholder="Search..."
                style="border-radius: 25px; height: 50px; padding: 10px 10px 10px 20px;">
        </div>
    </form>
</div>